@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --font-weight-ligth: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weigth-bold: 700;

  --color-white: #FFFFFF;
  --color-primary: #1f1235;
  --color-dark: #1b1425;
  --color-highlight: #ffd803;
  --color-dark-text: #1f1235;
  --color-light-highlight: #fbdd74;
  --color-bg: #bae8e8;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  padding: 5px;
}

h1 {
  font-size: 2rem;
  color: var(--color-primary);
}

h2 {
  font-size: 1.75rem;
  color: var(--color-primary);
}

h3 {
  font-size: 1.5rem;
  color: var(--color-primary);
}

h4 {
  font-size: 1.25rem;
  color: var(--color-primary);
}

h6 {
  font-size: 1rem;
  color: var(--color-primary);
}

.btn {
  background-color: var(--color-highlight);
  border: none;
  border-radius: 3rem;
  color: var(--color-primary);
  cursor: pointer;
  padding: .4rem;
  transition: transform .7s ease;
  width: 6rem;
  box-shadow: none;
}

section {
  background-color: var(--color-white);
  padding: 5rem 0 5rem 0;
  transition: all 500ms ease;
}

section:first-of-type {
  padding-top: 10rem;
}
 
section:nth-child(even) {
  background-color: whitesmoke;
}

section:last-of-type {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 280px) {
  footer p {
    font-size: 14px;
  }
}